html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../img/fondo_decoracion.png');
}

.fondo{
    background-image: url('../img/imagen/4.png');
}
.border-custom{
    border: 4px solid black !important;
}
.ancho-card{
    width: 80%;    
    
}
@media (min-width: 600px) and (max-width: 900px) {
    .ancho-card{
        width: 65%;
    }
}
@media (min-width: 900px) {
    .ancho-card{
        width: 50%;
    }
}

