<nav class="navbar navbar-expand-lg navbar-dark bg-dark flex-wrap">
    <div class="container">
        <a class="navbar-brand" href="/"><img class="img-fluid" src="{{ url_for('static', filename='img/logo.png') }}" alt="" width="40px">Patitas y Compañía</a>

        <!-- Botón para dispositivos móviles -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacto">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/perfil">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-block d-sm-none d-md-block d-lg-none" href="/login">Iniciar
                        Sesión</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn d-block d-sm-none d-md-block d-lg-none" data-bs-toggle="modal" data-bs-target="#myModal">
                        <span title="Carrito" class="material-symbols-outlined text-white">
                            shopping_cart
                        </span>
                    </button>
                </li>
            </ul>
        </div>
        <!-- Inicio sesión -->
        <a class="text-white text-decoration-none h5 pe-2 border-end border-white d-none d-sm-block d-md-none d-lg-block"
            href="/login">Iniciar Sesión</a>
        <!-- Carrito -->
        <button type="button" class="btn d-none d-sm-block d-md-none d-lg-block" data-bs-toggle="modal" data-bs-target="#myModal">
            <span title="Carrito" class="material-symbols-outlined text-white">
                shopping_cart
            </span>
        </button>
    </div>
</nav>