<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>

<body>
    <header>
        {% include 'navbar.html' %}
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="textlila fw-bold modal-title">Resumen</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="card p-2">
                            <div class="d-flex justify-content-center"><img src="../static/img/bandana.webp" alt="bandana"
                                    width="100px"></div>
                            <div class="row container d-flex justify-content-center mx-0">
                                <div class="col-12 text-center fw-bold">bandana</div>
                                <div class="col-6">Precio transferencias</div>
                                <div class="col-6 textlila text-center fw-bold">$5.000</div>
                                <div class="col-6">Otros medios de pago</div>
                                <div class="col-6 text-center fw-bold">$5.000</div>
                            </div>
                        </div>
                        <hr>
                        <div class="row container d-flex justify-content-center mx-0">
                            <div class="col-6">
                                <div class="fw-bold">Pago con transferencias</div>
                                <div class="textgreysecond">Transferencia y Banco Estado</div>
                            </div>
                            <span class="col-6 textlila fw-bold text-center">$5.000</span>
                            <div class="col-6">
                                <div>Otros medios de pago</div>
                                <div class="textgreysecond">Webpay/Onepay</div>
                            </div>
                            <span class="col-6 text-center">$5.000</span>
                            <div class="textgrey col-6 fw-bold">Envío</div>
                            <span class="textgrey col-6 fw-bold text-center">-</span>
                        </div>
                        <hr>
                        <div class="row container d-flex justify-content-center mx-0">
                            <div class="col-6">
                                <div class="textgrey fw-bold">TOTAL</div>
                            </div>
                            <span class="textgrey col-6 text-center fw-bold">-</span>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button class="col btn btn-primary">Ir al carro</button>
                        <button class="col btn btn-success">Iniciar pago</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container vh-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-md-6">
                    <div class="card fondo border-custom">
                        <div class="card-body">
                            <h3 class="text-center fw-bold">PERFIL DE USUARIO</h3>
                            <div class="row g-3 align-items-center">
                                <div class="col-md-5">
                                    <img src="../static/img/iconoperfil.png" alt="Imagen de usuario"
                                        class="img-fluid rounded-circle shadow">
                                </div>
                                <div class="col-md-7">
                                    <form id="perfilForm">
                                        <div class="mb-3">
                                            <label for="nombre" class="form-label fw-bold">Nombre</label>
                                            <input type="text" class="form-control border-custom" id="nombre"
                                                placeholder="Pedrito Infante" value="{{ usuario.nombre }}" disabled>
                                        </div>
                                        <div class="mb-3">
                                            <label for="telefono" class="form-label fw-bold">Teléfono</label>
                                            <input type="text" class="form-control border-custom" id="telefono"
                                                placeholder="+56999999999" value="{{ usuario.telefono }}">
                                        </div>
                                        <div class="mb-3">
                                            <label for="email" class="form-label fw-bold">Correo Electrónico</label>
                                            <input type="email" class="form-control border-custom" id="email"
                                                placeholder="correo@patitasycompania.cl" value="{{ usuario.email }}">
                                        </div>
                                        <div class="mb-3">
                                            <label for="direccion" class="form-label fw-bold">Dirección</label>
                                            <input type="text" class="form-control border-custom" id="direccion"
                                                placeholder="Av. nueva calle 123" value="{{ usuario.direccion }}">
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <div id="guardar">
                                                <button type="submit" class="btn btn-primary px-5">Guardar</button>
                                            </div>
                                            <div id="cerrarsesion">
                                                <button id="logoutButton" class="btn btn-danger px-4">Cerrar Sesión</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main> 
    <!-- FOOTER -->
    <footer class="bg-dark py-4 fixed-bottom">
        <div class="container">
            <p class="m-0 text-white text-center">Patitas y Compañía</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>
